.background {
  margin: 10px auto;
  background-size: cover;
  border: 10px solid;
  display: block;
  border-color: black;
  border-radius: 3em;
  max-width: 800px;
  max-height: 870px;
  background-image: url(https://images.pexels.com/photos/1367180/pexels-photo-1367180.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

li {
  white-space: nowrap;
  text-align: center;
  font-family: "Mukta", sans-serif;
  position: relative;
}

ul {
  list-style-type: none;
  text-align: center;
}

.searchBar {
  padding: 30px 20px 20px 20px;
}

#dateCity {
  margin-top: 40px;
  margin-left: -20px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}

#pst {
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

#refresh {
  font-weight: 600;
  font-size: 15px;
}

.fc {
  text-align: right;
  margin: 0px;
  padding: 0px 30px 0px 0px;
  position: relative;
}

.city {
  padding: 0 auto;
  font-weight: 700;
  font-size: 30px;
  color: black;
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 40px;
  text-align: center;
}

.weather {
  padding: 0 auto;
  font-weight: 200;
  font-size: 35px;
  text-transform: capitalize;
}

.tempNow {
  padding: 0px 0px 20px 0px;
  font-size: 70px;
  text-align: center;
  font-weight: normal;
}

#date {
  margin: -50px 0px 0px 0px;
  font-size: 30px;
  text-align: center;
}

.weather-forecast-temperature {
  font-size: 25px;
}

.forecast-max {
  text-align: center;
}

.forecast-min {
  text-align: center;
  color: #48484a;
}

#update {
  font-size: 15px;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.data {
  text-align: left;
  color: black;
  margin: 100px 5px 5px -35px;
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.dataHumid {
  text-align: center;
  margin-top: 0px;
  color: black;
  margin-right: -8px;
}
#endTag {
  text-align: center;
}

#forecast {
  display: flex;
}
