.background {
  margin: 30px 20px 50px 20px;
  background-size: cover;
  border: 10px solid;
  display: block;
  border-color: black;
  border-radius: 3em;
  max-width: 800px;
  max-height: 800px;
  background-image: url(https://images.pexels.com/photos/1367180/pexels-photo-1367180.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.row {
  margin-right: -50px;
  margin-left: -50px;
}

li {
  font-size: 25px;
  white-space: nowrap;
}

ul {
  list-style-type: none;
  text-align: center;
}

.fc {
  text-align: right;
  margin: 0px;
  padding: 0px 30px 20px 0px;
  position: relative;
}

.wind {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 2rem;
  margin-left: 0px;
  color: black;
  font-weight: bolder;
}

.aqi {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 2rem;
  margin-left: 25px;
  color: black;
  font-weight: bolder;
}

.city {
  padding: 0 auto;
  font-weight: 700;
  font-size: 30px;
  color: black;
  text-transform: capitalize;
  white-space: nowrap;
}

.weather {
  padding: 0 auto;
  font-weight: 200;
  font-size: 35px;
}

.tempNow {
  padding: 0px 0px 20px 0px;
  font-size: 75px;
}
.card {
  margin: -40px 2px 0px 2px;
  text-align: left;
  max-height: 700px;
  border: skyblue;
  border-radius: 2em;
}

.card-group {
  padding: 0px 0px 0px 0px;
  position: relative;
  text-align: center;
  max-width: 800px;
  max-height: 500px;
  margin: 0px auto;
}

.card-title {
  font: helvetica;
  font-weight: bold;
  font-size: medium;
  padding: 0px 15px 0px 0px;
}

.card-emoji {
  font-size: 55px;
}

.card-body {
  text-align: center;
  margin: 0 auto;
  padding: 30px 30px 10px 20px;
}

.day-temp {
  font-size: 25px;
  padding: 0px 0px 20px 0px;
  position: relative;
}

.searchBar {
  padding: 30px 20px 20px 20px;
}

#humidity {
  text-align: center;
  margin-top: 43px;
  margin-bottom: 2rem;
  margin-right: 25px;
  color: black;
  padding: 0px 0px 0px 25px;
}
#rain {
  text-align: center;
  margin-bottom: 2rem;
  margin-right: 25px;
  color: black;
  font-weight: bolder;
}

#dateCity {
  margin-top: 40px;
  margin-left: 0px;
  padding: 0px 40px 0px 0px;
}
